body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f7f7f7;
}


.wrapper{
	background-image: url(../img/city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header{
	width: 100%;
	background-color: rgba(17, 17, 9, 0.8);
	padding: 2% 7% 2% 7%;
	color: #FFF;
	display: flex;
	justify-content: space-between;
}
.header-logo{
	width: 250px;
}


.header-logo ul{
	font-family: Century Gothic;
	font-size: 35px;
	letter-spacing: -3px;
}

.header-logo a:link, .header-logo a:visited{
	display: block;
	list-style-type: none;
	color: #deb821;
	text-decoration: none;
}

.doublefont{
	font-size: 150%;
}

.header-links ul a{
	font-size: 20px;
	color: #fff;
}
.header-links ul li a:hover {
    color: #deb821;
	background-color: transparent;
}

#topper{
	padding: 50px;
	background-color: rgba(17, 17, 9, 0.5);
	font-family: Century Gothic;
	color: #FFF;
}

.intro{
	margin: 0 auto;
	width: 970px;
	text-align: center;
}

.p1{
	font-size: 700%;
	font-weight: bold;
	letter-spacing: -5px;
	margin: auto;
	line-height: 35px;
}

.p12{
	letter-spacing: 0;
	font-size: 35px;
}

.p2{
	font-size:  200%;
	letter-spacing: -1px;
}

.p3{
	padding-left: 15px;
	font-size: 200%;
}

.video-frame{
	border: 1px solid #0099ff;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: -30px;
	margin-bottom: 20px;
}

.video{
	position: relative;
	padding-bottom: 56.25%;
}

.video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}	

.video-frame-ytube{
	border: 1px solid #0099ff;
	border-bottom: none;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: -30px;
	margin-bottom: 20px;
}

.d-well{
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 40px;
}

.btn-down{
	color: #5e3800;
	background-color: #deb821;
	border-color: #5e3800;
	padding:15px 25px;
	
}
.btn-down:hover{
	background-color: #5e3800;
	border-color: #deb821;
	color: #efefef;
}


.foot{
	margin-top: 40px;
	background-color: #353537;
}
.footer-top-box{
	height: 50px;
	background-color: #fafafa;
	border-top: 1px solid #e5e5e5;
}

.footer-body{
	padding: 30px;
	color: #efefef;
}

/* Animation */

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }


@media (max-width: 900px){
	.intro{
		width: 100%;
	}
	.p1{
		font-size: 500%;
	}
}


@media (max-width: 500px){
	.p1{
		font-size: 300%;
	}
	
	.header-links ul a{
		margin-top: 10px;
		font-size: 15px;
	}
	.video-frame{
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 0;
	margin-bottom: 20px;
	border-left: none;
	border-right: none;
	}
}


#list-glyphicon{
	color: #deb821;
}
